
.column-card-campaigns{
    margin-bottom: 5% !important;
}
.image-campaigns{
    /*min-height: 50px;*/
    width: inherit !important;
    padding: 5% !important;
}
.increment-btn{
    float: right;
    margin-top: 5% !important;
}
.block-img-btn{
    position: fixed;
    width:inherit;
}
.progress-form{
    margin-top: 8% !important;
    margin-bottom: 0% !important;
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;

}
/*@media (max-width: 1000px) {*/
    /*.ui[class*="four column"].grid>.row>.column {*/
        /*width: 50% !important;*/
    /*}*/
/*}*/
.CircularProgressbar {
    /*
     * This fixes an issue where the CircularProgressbar svg has
     * 0 width inside a "display: flex" container, and thus not visible.
     *
     * If you're not using "display: flex", you can remove this style.
     */
    width: 100%;
}


.CircularProgressbar .CircularProgressbar-background {
    fill: #d6d6d6;
}


.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: #4B253A;
    font-size: 10px;
    dominant-baseline: middle;
    text-anchor: middle;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: #4B253A;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: #D3B6C6;
}
.count-circle{
    padding: 5%;
    margin-top: 5%;
}
.country-selected{
    fill: #f8b142;
}

.wrapper{
    display: flex;
}
.wrapper-steps{
    margin-top: -15px;
}
.icon-campaign{
    width: 60px;
}
.progress-row{
    text-align: center;
}
.row-list{
    margin-top: 50px;
}
.colmun-progress-selected{
    border-bottom: solid #8e124f;
    margin-bottom: 15px;
}

.colmun-progress-unselected{
    border-bottom: solid #8e124f;
    opacity: 0.3;
    margin-bottom: 15px;
}
.ui.segment{
    margin-top: 15px !important;
}
.inline label{
    width: 100px !important;
}
.inline .input{
    margin-right: 10px;
    margin-left: 10px;
}
