/* ***************************************************************************************
 *
 *	 Styles related to the form elements
 *
 *
 * ******/


/*
		Media independent styles

 */
.form-inline {
	margin-top: 20px;
	display: inline-block;
}

.form-container {
	margin: 30px 0;
}

.form-control {
	border-radius: 0;
	border-color: #979797;
	box-shadow: none;
	background-color: #FBFBFB;
}

.form-control:focus {
	border-color: #000000;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(255, 110, 0, .6);
	background-color: rgba(255, 110, 0, .1) !important;
}

.form-group .error {
	background-color: #FF6600;
	padding: 5px;
	margin-left: 10px;
	color: #FFFFFF;
	font: 14px/19px 'fabriga';
  font-weight: 400;
}

.form-bullet .btn {
	padding-top: 0;
	padding-bottom: 0;
}
