/* ***************************************************************************************
   Fonts

*/
@font-face {
    font-family: 'fabriga';
    src: url('fonts/fabriga-bold-webfont.woff2') format('woff2'),
         url('fonts/fabriga-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'fabriga';
    src: url('fonts/fabriga-medium-webfont.woff2') format('woff2'),
         url('fonts/fabriga-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'fabriga';
    src: url('fonts/fabriga-regular-webfont.woff2') format('woff2'),
         url('fonts/fabriga-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'fabriga';
    src: url('fonts/fabriga-light-webfont.woff2') format('woff2'),
         url('fonts/fabriga-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'ptserif';
    src: url('fonts/ptserif-regular-webfont.woff2') format('woff2'),
         url('fonts/ptserif-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'ptserif';
    src: url('fonts/ptserif-italic-webfont.woff2') format('woff2'),
         url('fonts/ptserif-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'ptserif';
    src: url('fonts/ptserif-700-webfont.woff2') format('woff2'),
         url('fonts/ptserif-700-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}


/* ***************************************************************************************
   Layout styles

*/
.row.content {
    margin-top: 50px;
    margin-bottom: 100px;
}

@media (min-width: 1500px) {
  .container {
    width: 1470px;
  }
}


/* ***************************************************************************************
   Bootstrap overrides

*/
[class*='col-'] {
    padding-right: 30px;
    padding-left: 30px;
}

.row {
    margin-left: -30px;
    margin-right: -30px;
}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.grid > [class*='col-'] {
    padding: 5px;
}


/* ***************************************************************************************
   Text styles

*/

/* Fix for font being rendered to heavy looking */
h1, h2, h3, h4, h5, h6, p,
.teaser,
.navigation-main {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font: 50px/50px 'fabriga';
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

h2 {
  font: 40px/45px 'fabriga';
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

h3 {
  font: 34px/40px 'fabriga';
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

h4 {
  font: 28px/34px 'fabriga';
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  margin-top: 40px;
}

h5 {
  font: 22px/25px 'fabriga';
  font-weight: 500;
  color: #000000;
  text-align: left;
  margin-top: 30px;
}

p {
  font: 16px/22px 'ptserif';
  font-weight: 400;
  color: #000000;
  text-align: left;
}

p.ingress {
    font: 18px/30px 'ptserif';

}

p.link-style {
  cursor: pointer;
}

label {
  font: 14px/19px 'fabriga';
  font-weight: 400;
  color: #000000;
  text-align: left;
}

p > a {
    font-family: 'fabriga';
    font-weight: 500;
    border-bottom: 1px solid #FF6600;
    color: #000000;
    padding-bottom: 2px;
}

a,
a:hover,
a:focus {
    color: #000000;
    text-decoration: none;
}

.white a,
.white a:hover,
.white a:focus {
    color: #FFFFFF;
    text-decoration: none;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.centred {
  text-align: center;
}

.right {
  text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.teaser {
  font: 22px/28px 'ptserif';
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  text-align: center;
}

.navigation-main {
  font: 18px/24px 'fabriga';
  font-weight: 500;
}

.quote-mark {
  font: 70px/77px 'helvetica';
  font-weight: bold;
  font-style: italic;
  color: #FF6600;
}

.quote-text {
  font: 23px/30px 'ptserif';
  font-weight: 400;
  font-style: italic;
}

.black {
  color: #000000;
}

.orange {
  color: #FF6600;
}

.white {
  color: #FFFFFF;
}


/* Media queries for text */
@media (min-width: 992px) {

  h1 {
    font-size: 80px;
    line-height: 105px;
  }

  h2 {
    font-size: 60px;
    line-height: 75px;
  }

  h3 {
    font-size: 40px;
    line-height: 50px;
  }

}


/* ***************************************************************************************
  Button styles

*/
.btn {
  margin-top: 15px;
  padding: 10px 65px;
  font: 16px/20px 'fabriga';
  font-weight: 400;
  font-style: normal;
  background-color: #FFFFFF;
  border: none;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

.btn.large {
    padding: 16px 95px;
    font-size: 20px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
}

.btn-default:hover,
.btn-default:active:hover,
.btn-default:focus:hover {
  border: none;
  background-color: #FF6600;
  color: #FFFFFF;
}

.btn.orange {
  background-color: #FF6600;
  color: #FFFFFF;
}

.btn.black-border {
  border: 2px solid #000000;
}

.btn.book-trip {
  position: fixed;
  bottom: 30px;
  z-index: 10000;
  left: 0;
  right: 0;
  width: 150px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

.book-trip-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #FF6600;
  color: #FFFFFF;
  border: none;
}

.filter-card .btn-default:active:hover,
.filter-card .btn-default.active:hover,
.filter-card .open > .dropdown-toggle.btn-default:hover,
.filter-card .btn-default:active:focus, .btn-default.active:focus,
.filter-card .open > .dropdown-toggle.btn-default:focus,
.filter-card .btn-default:active.focus,
.filter-card .btn-default.active.focus,
.filter-card .open > .dropdown-toggle.btn-default.focus {
  background-color: #FF6600;
  border-color: #000000;
  color: #FFFFFF;
}

.filter-card .btn-default:active,
.filter-card .btn-default:hover,
.filter-card .btn-default:focus
{
  /*background-color: transparent;*/
  box-shadow: none;
}

.filter-card .open > .dropdown-toggle.btn-default {
  background-color: transparent;
}

.filter-card .btn-default:active,
.filter-card .btn-default:active,
.filter-card .btn-default.active,
.filter-card .btn-default:focus,
.filter-card .btn-default.focus {
  background-color: #FF6600;
}

.filter-card .btn-default:hover,
.filter-card .btn-default:active:hover,
.filter-card .btn-default:focus:hover {
  background-color: #FF6600;
  box-shadow: none;
  border: none;
}


/* ***************************************************************************************
  Accordion styles

*/
.panel-group {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #FF6600;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-default {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #FF6600;
  box-shadow: none;
}

.panel-default > .panel-heading {
  border: none;
  background-color: #FFFFFF;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none;
}

.panel-title p {
  margin: 0;
}

.accordion-large .glyphicon {
  margin-top: 35px;
  margin-bottom: 35px;
}

.accordion-small .glyphicon {
  margin-top: 4px;
  margin-bottom: 4px;
}


/* ***************************************************************************************
  Helper styles

*/
.row.short-row {
  min-height: 350px;
}

hr.content-divider {
  margin-top: 60px;
  margin-bottom: 60px;
  border-color: #FF6600;
}

.glyphicon-custom-link span.glyphicon {
    margin-top: 4px;
}

.glyphicon-custom-link h5 {
    margin-top: 0;
}

img {
    width: 100%;
}