body > div,
body > div > div,
body > div > div > div.login-form {
    height: 100%;
}
body > div > div > div.login-form{
    overflow: hidden !important;
}
.login-form .column{
    background-color: white;
}
.login-form img{
    padding: 10px;
}
.form label{
    text-align: left !important;
}
.alert-success{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /*background-color: transparent;*/
    /*border-color: transparent ;*/
    width: 100%;
}