.column-products{
    height: 660px;
    background-color: #FBFBFB;
    text-align: center!important;
    overflow:hidden;
    overflow-y:scroll;
}
.column-tips{
    height: 660px;
    background-color: #FBFBFB;
    overflow:hidden;
    border-left: solid 10px  #e9eaeb;
}
.column-tips-target{
    height: 900px;
    border-left: solid 10px  #e9eaeb;
}
.product-row{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}
.product-campaigns-img{
    /*min-height:500px;*/
    max-height: 100%;
    margin-bottom: 5%;
    z-index: 1 !important;
}
img#in_game4 {
    position: absolute;
    width: 33px;
    height: 33px;
    opacity: 1;
    filter: none;
    z-index: 3 !important;
    left: 50%!important;
    transform: translate(-50%, 0)!important;
    top: 55% !important;
}
.image-product{
    height:110px;
    width:110px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}