body {
  background:
          #e9eaeb !important;
    height: 100%;
    overflow-x: scroll !important;
    /*display: flex;*/
}
.login{
  background-color: white;
}
button{
    background-color: #8e124f !important;
    color: #FFFFFF !important;
}
.ui.dimmer {

}
.navbar-default{
    background-color: #8e124f !important;
    min-width: 1100px !important;
}
.navbar a,
.navbar .text{
    color: #FFFFFF !important;
}
.navbar .container{
    width: 100% !important;
    min-width: 1100px !important;
}

.img-header{
    display: inline-block;
    height:25px;
}
.navbar-brand{
    display: inline-flex !important;
}
.input-navbar{
    /*min-width: 350px;*/
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
.navbar-inverse .navbar-nav>li>a:focus {
    color: #ffffff !important;
    background-color: #3e152b !important;
}
#basic-nav-dropdown {
    color: black !important;
}
/*i.icon, i.icons {*/
    /*!*font-size: 1rem !important;*!*/
    /*font-weight: 400;*/
/*}*/

.container-fluid{
    width: 1100px;

}
.container-fluid .row{
    width: 1100px !important;

}
/*.navbar{*/
    /*margin-bottom: 5px !important;*/
/*}*/